
@model List<Event>

<h2 class="text-center mb-3">Explore Events</h2>

@if (Model.Any())
{   
    @foreach (var evt in Model)
    {
           
            <div class="card mb-3 p-3 shadow">
            <img src="@evt.ImageUrl" class="card-img-top mb-3 " alt="@evt.Name"  style="height:30vh;width:30vh"/>
            <h4>@evt.Name</h4>
            <p>@evt.Description</p>
            <p><strong>Date:</strong> @evt.Date.ToString("f")</p>
            <p><strong>Location:</strong> @evt.Location</p>
            <p><strong>Organizer:</strong> @evt.Organizer_Name</p>
            <p><strong>Attendees:</strong> @evt.AttendeeCount</p>
            </div>
        
      
    }
   
}
else
{
    <p>No events found.</p>
}

